.head {
    text-align: center;
    color: cornflowerblue;
}

#viz {
    height: 80%;
    width: 100%;
}

.node:hover > * {
    fill: rgb(16, 223, 16);
}

.node:active > * {
    fill: rgb(146, 9, 135);
}


.circle_hasChildren {
    fill: rgb(37, 55, 223);
}

.circle_hasNoChildren {
    fill: rgb(214, 18, 18);
}

.text_hasChildren {
    text-anchor: end;
    fill: rgb(37, 55, 223);
}
.text_hasChildren:hover {
    font-weight: bold;
}

.text_hasNoChildren:hover {
    font-weight: bold;
}

.text_hasNoChildren {
    text-anchor: start;
}

.titel {
    color: white;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 40%;
    margin: 0 auto;
}

td {
    padding: 10px;
    text-align: start;
    color: white;
}
td:nth-child(even){
    text-align: end;
}
td:nth-child(2){
    border-right: 1px solid white;
}
.highlight circle { fill:pink }
.highlight circle { fill:pink }
.highlight text { fill:pink }
.leaf circle { fill:red }
.leaf circle { fill:red }
.leaf text { fill:red }
path.highlight { stroke:pink }

#sunburst{
    height: 50%;
    width: 50%;
}

#sunburst:first-child{
    align-self: start;
    border: 1px solid black;
}
.arc_hover:hover{
    fill-opacity: 1;
}